<!DOCTYPE html>
<html>

<head>
  <title>
    Project
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://bootswatch.com/5/cyborg/bootstrap.min.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/searchShow">Search Shows</a>
        </li>

      </ul>
    </div>

  </nav>

  <div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">Log in</h2>

    <form action="/login" method="post" class="login-container">
      <p><input name="username" type="text" placeholder="Username" required></p>
      <p><input name="password" type="password" placeholder="Password" required></p>
      <p><input name="submit" type="submit" value="Login"></p>
      <% if (err) { %>
        <p id="error">
          <%= err %>
        </p>
        <% } %>
    </form>
    <form action="/login" method="POST">
      <input type="hidden" name="testUsername" value="test">
      <input type="hidden" name="testPassword" value="1234">
      <button type="submit" name="submit" value="Test Login">Test Login</button>
    </form>



  </div>



</body>

</html>